{% extends "base.html" %}
{% block title %}
    <title>Мой профиль</title>
{% endblock %}
{% block content %}
    <article class="thin-container">
        <div class="main-container centered-container">
            <div class="main-info-container profile-container ">
                <h2>Станислав Кокунин</h2>
                <h3>TheWill </h3>
                <div>Почта: thewillfeed@gmail.com</div>
                <div>Описание профиля: <p>Web-разработчик, обучающийся в государственном университете "Дубна"</p></div>
                <img src="https://i.pinimg.com/736x/2b/81/a8/2b81a830e7be62b2437a493d2867c3d8.jpg" style="height: 256px; width: 256px; padding-left: 50px;">
                <div class="profile_projects_container" >Прошедшие проекты:
                <div class="shadebox previous_projects">
                    <div class="left-container">
                        <p>Хакатон по машинному обучению</p>
                        <p> Команда: Last Dark Dust </p>
                        <p>Результат: 3 место</p>
                    </div>
                    <div class="right-container">
                        <div class="tag_container"><div class="tag">Python</div>
                        <div class="tag">Web-разработка</div>
                        </div>
                    </div>
                </div>
                <div class="shadebox previous_projects " >
                    <div class="left-container">
                        <p>Hack The Cart</p>
                        <p> Команда: Last Dark Dust </p>
                        <p>Результат: 3 место</p>
                    </div>
                    <div class="right-container">
                        <div class="tag_container"><div class="tag">Python</div>
                        <div class="tag">Data Science</div>
                        </div>
                    </div>
                </div>
                    </div>
            </div>
        </div>
    </article>
{% endblock %}


