{% extends "base.html" %}
{% block title %}
    <title>Команды проекта</title>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        {% if is_user_in_project %}
            {% if project_teams %}
                <h1> Команды проекта {{ project.project_name }}:</h1>
                <div class="flex-space-between" style="width: 800px; margin: auto">
                <div class="shadebox"><a class="link_to" href="{% url 'core:project_teams_create' project.id %}"> Создать команду, привязанную к проекту </a></div>
                <div class="shadebox"><a class="link_to" href="{% url 'core:project_detail' project.id %}">Вернуться к командам проекта  </a></div>
                </div>
                {% for team in project_teams %}
                    <article>
                        <h2 class="entry_user_header">  <a href="{% url 'core:team_detailed' team.id %}?project_link={% url 'core:project_teams' project.id %}"> {{ team.team_name }}  </a> </h2>
                        <div class="regular-text"> Описание: {{ team.team_lfg_message }} </div>
                        <div class="regular-text"> Капитан: {{ team.team_captain.get_name }} </div>
                        Текущий состав:
                        {% for member in team.team_members.all %}
                            <div class="regular-text"> <a href=""> {{ member.get_name }} </a> </div>
                            {% endfor %}
                    </article>
                {% endfor %}
            {% else %}
                <p>Заявок или участников пока что нет.</p>
            {% endif %}
        {% else %}
            <div class="error_warning"> Только участник проекта имеет право просматривать эту страницу </div>
        {% endif %}
        {% else %}
            <div class="error_warning"> Войдите, чтобы просматривать эту страницу </div>
    {% endif %}

{% endblock %}


