{% extends "base.html" %}
{% block title %}
    <title>Новости</title>
{% endblock %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
    <div class="add-project-btn"><a class="create_project_button" href="{% url 'core:project_create' %}"><img src="{% static 'NewsFeed/images/addproject.png' %}" alt="add"></a></div> {# TODO: make check permissions here #}
    <div class="title-container"><h2 class="my-project-title">Проекты</h2></div>
    {% if perms.core.can_moderate_projects %}
    <div class="requests-project-container">
        <div class="default-btn">
            <a class="go_to_button" style="color: black;" href="{% url 'core:new_pending_projects_mod' %}">Заявки на проекты</a>
        </div>
    </div>
    {% endif %}
    {% else %}
        <!--<div>Войдите, чтобы добавить проект</div>-->
    {% endif %}
    {% if object_list %}
        {% for project in object_list %}
            <article class="project_article thin-container">
                <p><a class="project-name" href="{% url 'core:project_detail' project.id %}">{{ project.project_name }}</a></p>
                <div class="project-data"><p class="project-text">Статус проекта: <p class="project-info">{{ project.get_project_status_display }}</p></p></div>
                <div class="article_body">
                    <div class="left-container">
                        <div class="project-data"><p class="project-text">Тип мероприятия: <p class="project-info">{{project.event_type }}</p></p></div>
                        <div class="">
                            <div class="project-data"><p class="project-text">Информация о проекте:<p class="project-info">{{ project.project_info }}</p></p></div>
                            <div class="project-data"><p class="project-text">Направление: <p class="project-info">{{ project.direction_type }}</p></p></div>
                            <div class="project-data"><p class="project-text">Навыки для участия: </p>
    
                            <div class="project-data">
                                <div class="tag_container"> {% for skill in project.project_skills.all %}
                                    <div class="tag"><p class="project-info">{{skill.skill_name }}</p></div>
                                {% endfor %}</div>
                                </div>
                            </div>
                            
                            <div class="project-data"><p class="project-text">Авторы: </p>{% for author in project.project_authors.all %}
                                <p class="project-text"><p class="project-info">{{ author.username }}</p></p> {% endfor %}
                            </div>
    
                            <div class="project-deadline">
                                <div class="project-data"><p class="project-text">Начало: <p class="project-info">{{ project.project_start }}</p></p></div>
                                <div class="project-data"><p class="project-text">Конец: <p class="project-info">{{ project.project_end }}</p></p></div>
                            </div>
                            
                            <div class="project-data"><p class="project-text">Опубликовано: <p class="project-info">{{ project.pub_date }}</p></p></div>
                            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                            <div class="right-container flex-center">
                                <img src="https://i.pinimg.com/736x/2b/81/a8/2b81a830e7be62b2437a493d2867c3d8.jpg" style="height: 256px; width: 256px;">
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <p>На данный момент нет проектов.</p>
    {% endif %}

{% endblock %}


