{% extends "base.html" %}

{% block content %}

{% if form.errors %}
  <p align="center" >Логин или пароль некорректен, попробуйте снова</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>У вас нет прав доступа к этой странице, чтобы перейти дальше, войдите в аккаунт, у которого есть доступ</p>
  {% else %}

  {% endif %}
{% endif %}
<div align="center">


<form method="post" class="login-form" action="{% url 'login' %}">
  {% csrf_token %}
    <div class="login-form-container">
      <div class="login-form-block">
        <p class="form-text">Имя пользователя</p>
        <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" class="form-input">
      </div>

      <div class="login-form-block">
        <p class="form-text">Пароль</p>
        <input type="password" name="password" autocomplete="current-password" required="" id="id_password" class="form-input">
      </div>

      <div class="login-form-btn">
        <input class="form-btn" type="submit" value="Войти"/>
      </div>

      {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
        <p><a href="{% url 'core:register' %}"> Еще не зарегистрированы? </a></p>
      {% endblock %}
    </div>
  <!-- <table>
    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>

    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
  </table>

  <input type="submit" value="Войти" style="width: 100px; height: 30px; margin-top: 10px;" />
  <input type="hidden" name="next" value="{{ next }}" /> -->
</form>
</div>
